<section id="about">
  <div class="container">
    <div class="section-header">
      <div>
        <div class="section-title">Présentation</div>
        <div class="section-kicker">Qui sommes-nous ?</div>
      </div>
    </div>
    <div class="card">
      <div class="about-text">
        <p>
          Ephemere est une association de photographie du groupe IONIS.
          Fondée en 2006, elle participe activement à la vie des écoles du
          groupe.
        </p>
        <p>
          Notre but est de faire découvrir la photographie grâce à des
          workshops, des shootings et des sorties. Pour nous rejoindre ou
          faire appel à nos services n'hésitez pas à nous contacter.
        </p>
      </div>
    </div>
  </div>
</section>
