<section id="contact">
  <div class="container">
    <div class="section-header">
      <div>
        <div class="section-title">Contact</div>
      </div>
    </div>
    <div class="contact-grid card">
      <div>
        <div class="contact-item">
          <div class="contact-label">Adresse</div>
          <div class="contact-value">
            14-16 Rue Voltaire, 94270 Le Kremlin-Bicêtre
          </div>
        </div>
        <div class="contact-item">
          <div class="contact-label">Email</div>
          <div class="contact-value">
            <a href="mailto:ephemere@epita.fr">asso.ephemere&#64;epita.fr</a>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
</section>
